@font-face { font-family: "cmtitle"; src:url("fonts/cm-serif-bold.ttf"); }
@font-face { font-family: "cmserif"; src:url("fonts/cm-serif.ttf"); }
@font-face { font-family: "cmmono"; src:url("fonts/cm-monospace.ttf"); }

body { background-color: #000; margin-left: 10%; margin-right: 10%; }

h1 { color: #fff; font-family: cmtitle; font-size: 75px; }

	.title { color: #fff; text-decoration: none; }
	.title:hover { color: #198844; }

ul { color: #fff; list-style: none; font-family: cmmono; font-size: 20px; }
ul li::before { content: "-"; font-weight: bold; display: inline-block; width: 1em; margin-left: -2em; }

p { color: #fff; font-family: cmserif; font-size: 20px; }

a { color: #fff; text-decoration: none;}
a:hover { color: #198844; }
